body {
    margin: 10px;
  }
  

  
.japan{
    position: relative;
    border: 2px solid #CCCCCC;
    height: 200px;
    margin: auto;
    width: 300px;   
}
.second{
    position: absolute;
    background-color: #BC002D;
    border-radius: 50%;
    display: block;
    height: 120px;
   right: 90px;
    width: 120px;
    bottom: 40px;
}
